{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Artists{% endblock %}
{% block content %}
{% for area in areas %}
	{% if area.artists|length > 0 %}
		<h3>{{ area.city }}, {{ area.state }}</h3>
			<ul class="items">
				{% for artist in area.artists %}
				<li>
					<a href="/artists/{{ artist.id }}">
						<i class="fas fa-users"></i>
						<div class="item">
							<h5>{{ artist.name }}</h5>
						</div>
					</a>
				</li>
				{% endfor %}
			</ul>
	{% endif %}
{% endfor %}
{% endblock %}