{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Artists Search{% endblock %}
{% block content %}
{% if data.result|length > 0 %}
	<h3>{{ data.result|length }} results found for "{{ data.search_term }}": </h3>
	<ul class="items">
		{% for artist in data.result %}
		<li>
			<a href="/artists/{{ artist.id }}">
				<i class="fas fa-users"></i>
				<div class="item">
					<h5>{{ artist.name }}</h5>
				</div>
			</a>
		</li>
		{% endfor %}
	</ul>
{% else %}
	<h3>No results found for "{{data.search_term}}"</h3>
{% endif %}
{% endblock %}