{% extends 'layouts/main.html' %}
{% block title %}Edit Artist{% endblock %}
{% block content %}
  {{artist_genres}}
  <div class="form-wrapper">
    <form class="form" method="post" action="/artists/{{artist.id}}/edit">
      <h3 class="form-heading">Edit artist <em>{{ artist.name }}</em></h3>
      <div class="form-group">
        <label for="name">Name</label>
        {{ form.name(class_ = 'form-control', placeholder=artist.name, autofocus = true) }}
      </div>
      <div class="form-group">
          <label>City & State</label>
          <div class="form-inline">
            <div class="form-group">
              {{ form.city(class_ = 'form-control',
                placeholder = artist.city, 
                autofocus = true) }}
            </div>
            <div class="form-group">
              {{ form.state(class_ = 'form-control',
                autofocus = true) }}
            </div>
          </div>
      </div>
      <div class="form-group">
          <label for="phone">Phone</label>
          {{ form.phone(class_ = 'form-control', placeholder=artist.phone, autofocus = true) }}
      </div>
      <div>
        <label for="genres">Genres</label>
        <div id="current-genres"></div>
        <div>
          <div id="available-genres" class="genres-container">
            {% for genre in genres %}
              <div id="{{genre}}" class="genre-container unsel-gen">
                {{genres[genre]['name']}}
              </div>
            {% endfor %}
          </div>
          {{ form.genres(class_ = 'hidden')}}
        </div>
      </div>
      <div class="form-group">
          <label for="facebook_link">Facebook Link</label>
          {{ form.facebook_link(class_ = 'form-control', placeholder='http://', autofocus = true) }}
        </div>
      
      <div class="form-group">
          <label for="image_link">Image Link</label>
          {{ form.image_link(class_ = 'form-control', placeholder='http://', autofocus = true) }}
      </div>

      <div class="form-group">
            <label for="website_link">Website Link</label>
            {{ form.website_link(class_ = 'form-control', placeholder='http://', autofocus = true) }}
      </div>
      <div class="form-group">
        <div id="avail-container">
          <div id="avail-week" class="avail">
            <div id="avail-label">
              weekly<br>
              availability:
            </div>
            {% for day_int, date in artist.availability.items() %}
              <div id="avail-{{day_int}}" alt="{{date.name}}" class="avail-day avail-{{date.value|lower}}">
                {{date.abbr}}
              </div> 
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="form-group">
          <label for="seeking_venue">Looking for Venues</label>
          {{ form.seeking_venue(placeholder='Venue', autofocus = true) }}
      </div>

      <div class="form-group">
          <label for="seeking_description">Seeking Description</label>
          {{ form.seeking_description(class_ = 'form-control', autofocus = true) }}
      </div>
      
      <input id="submit-btn" type="submit" value="Edit Artist" onclick="presubmit(event)" class="btn btn-primary btn-lg btn-block">
    </form>
    <script>
      var artist = {{artist | tojson}};
      var genres = {{genres | tojson}};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/edit_form.js')  }}"></script>
  </div>
{% endblock %}
