{% extends 'layouts/main.html' %}
{% block title %}New Artist{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form method="post" class="form">
      <h3 class="form-heading">List a new artist</h3>
      <div class="form-group">
        <label for="name">Name</label>
        {{ form.name(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
          <label>City & State</label>
          <div class="form-inline">
            <div class="form-group">
              {{ form.city(class_ = 'form-control', placeholder='City', autofocus = true) }}
            </div>
            <div class="form-group">
              {{ form.state(class_ = 'form-control', placeholder='State', autofocus = true) }}
            </div>
          </div>
      </div>
      <div class="form-group">
          <label for="phone">Phone</label>
          {{ form.phone(class_ = 'form-control', placeholder='xxx-xxx-xxxx', autofocus = true) }}
        </div>
      <div class="form-group">
        <label for="genres">Genres</label>
        <div id="current-genres"></div>
        <div>
          <div id="available-genres" class="genres-container">
            {% for genre in genres %}
              <div id="{{genre}}" class="genre-container unsel-gen">
                {{genres[genre]['name']}}
              </div>
            {% endfor %}
          </div>
          {{ form.genres(class_ = 'hidden')}}
        </div>
      </div>
      <div class="form-group">
          <label for="facebook_link">Facebook Link</label>
          {{ form.facebook_link(class_ = 'form-control', placeholder='http://', autofocus = true) }}
        </div>
      
        <div class="form-group">
          <label for="image_link">Image Link</label>
          {{ form.image_link(class_ = 'form-control', placeholder='http://', autofocus = true) }}
        </div>

        <div class="form-group">
            <label for="website_link">Website Link</label>
            {{ form.website_link(class_ = 'form-control', placeholder='http://', autofocus = true) }}
          </div>

          <div class="form-group">
            <div id="avail-container">
              <div id="avail-week" class="avail">
                <div id="avail-label">
                  weekly<br>
                  availability:
                </div>
                <div id="avail-0" class="avail-day avail-true">
                  U
                </div>
                <div id="avail-1" class="avail-day avail-true">
                  M
                </div>
                <div id="avail-2" class="avail-day avail-true">
                  T
                </div>
                <div id="avail-3" class="avail-day avail-true">
                  W
                </div>
                <div id="avail-4" class="avail-day avail-true">
                  R
                </div>
                <div id="avail-5" class="avail-day avail-true">
                  F
                </div>
                <div id="avail-6" class="avail-day avail-true">
                  S
                </div>
              </div>
            </div>
            <span style="line-height: .5em;">
              <small>
                All week days are available by default.<br>
                Click a week day to indicate regular weekly unavailable status.
              </small>
            </span>
          </div>
          <div class="form-group">
              <label for="seeking_venue">Looking for Venues</label>
              {{ form.seeking_venue(placeholder='Venue', autofocus = true) }}
          </div>

          <div class="form-group">
              <label for="seeking_description">Seeking Description</label>
              {{ form.seeking_description(class_ = 'form-control', autofocus = true) }}
            </div>
      <input type="submit" value="Create Artist" class="btn btn-primary btn-lg btn-block" onclick="presubmit(event)">
    </form>
    <script>
      var genres = {{genres | tojson}};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/create_form.js')  }}"></script>
  </div>
{% endblock %}
